.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  0% {transform: rotate(0deg);}
  /* 50%{transform: rotate(30deg) translateX(10px) translateY(10px);} */
  100% {transform:rotate(45deg) translateX(20px) translateY(20px);}
}


@keyframes middle {
  0% {background-color: rebeccapurple;}
  10%{background-color:  mediumvioletred;}
  100% {background-color:  mediumvioletred;}
}

@keyframes bottom {
  0% {transform: rotate(0deg);}
  /* 50%{transform: rotate(-30deg) translateX(10px) translateY(-10px);} */
  100% {transform:rotate(-45deg) translateX(20px) translateY(-20px);}
}
